---
BasedOnStyle: Microsoft
IndentWidth: 4
NamespaceIndentation: All
BraceWrapping:
  BeforeLambdaBody: true
LambdaBodyIndentation: OuterScope
AllowShortLambdasOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: DontAlign
PointerAlignment: Left
SeparateDefinitionBlocks: Always
AllowShortIfStatementsOnASingleLine: Never
---
